@layer base {
  html {
    overflow-x: hidden;
    overscroll-behavior-x: none;
    overscroll-behavior-y: none
  }

  body {
    @apply font-sans;
    overflow-x: hidden;
    overscroll-behavior-x: none;
  }
  
  /* Change default text selection highlight color to branded blue */
  ::selection {
    background-color: rgba(116, 220, 223, 0.7);
    color: #000000;
  }
  /* (firefox) Change default text selection highlight color to branded blue */
  ::-moz-selection {
    background-color: rgba(116, 220, 223, 0.7);
    color: #000000;
  }
}

img {  
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none; 
  -webkit-user-select: none;
  -ms-user-select: none;
}
